.p-card-title {
    font-size: 1.2rem;
    margin-bottom: 0;
}

.p-card-content {
    padding: 0;
}

.right-pad {
    margin-right: 5px;
}

.you-avatar {
    margin-left: "5px";
    margin-right: "5px";
    color: var(--surface-section);
    background-color: var(--primary-color);
}

.zero-margin {
    margin: 0;
}

.text-center {
    text-align: center;
}

.highlighted-text {
    background-color: goldenrod;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.settings-form {
    justify-content: center;
    margin-top: 10px;
}

.overlay {
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color .5s ease, opacity .5s ease;
    -webkit-transition: background-color .5s ease, opacity .5s ease;
}

.bulk-region {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.bulk-region:hover .overlay {
    background-color: black;
    opacity: 0.25;
    transition: background-color .5s ease, opacity .5s ease;
    -webkit-transition: background-color .5s ease, opacity .5s ease;
}